body {
  background-color: #333;
  color: white;
  font-family: 'Inconsolata', monospace, fixed, sans-serif;
  font-weight: 700;
  font-size: 12pt;
  margin: 0;
  width: 100%;
  height: 100%;
}

div#container {
  width: 100%;
  height: 100%;
}

div#logo {
  margin: 0 auto 0;
  font-size: 120pt;
  color: white;
  text-align: center;
  font-family: 'Grand Hotel', cursive;
  font-weight: 400;
}

div#terminal {
  height: 600px;
  margin: 0 auto 0;
  padding: 15px;
}

.prompt {
  color: #af7dff;
}