<!doctype html>
<html>
<head>
  <title>browserconsole</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
  <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/terminal.css'}">
  <link rel="stylesheet" href='//fonts.googleapis.com/css?family=Grand+Hotel|Inconsolata:700' type="text/css">
  <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
  <script src="@{'/public/javascripts/jquery-1.11.1.min.js'}" type="text/javascript" charset="UTF-8"></script>
  <script src="@{'/public/javascripts/jquery.mousewheel-min.js'}" type="text/javascript" charset="UTF-8"></script>
  <script src="@{'/public/javascripts/jquery.terminal-0.4.22.js'}" type="text/javascript" charset="UTF-8"></script>
  <script src="@{'/public/javascripts/browserconsole.js'}" type="text/javascript" charset="UTF-8"></script>
  <script src="@{'/public/javascripts/qrcode.min.js'}" type="text/javascript" charset="UTF-8"></script>
</head>
<body>
<div id="container">
  <div id="logo">browserconsole</div>
  <div id="terminal"></div>
  <div id="qrcode"></div>
  <div id="qrexplain">(Link to this page)</div>
</div>
<script>
  $(function() {
    bconsole.init();
    new QRCode("qrcode", {
      text: "http://browserconsole.com/#" + bconsole.token,
      width: 128,
      height: 128,
      colorDark : "#333",
      colorLight : "#fff",
      correctLevel : QRCode.CorrectLevel.H
    });
  });
</script>
</body>
</html>
