<!doctype html>
<html>
<head>
  <title>browserconsole</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/terminal.css'}">
  <link rel="stylesheet" href='//fonts.googleapis.com/css?family=Grand+Hotel|Inconsolata:700' type="text/css">
  <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
  <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
  <script src="@{'/public/javascripts/jquery-1.11.1.min.js'}" type="text/javascript" charset="UTF-8"></script>
  <script src="@{'/public/javascripts/jquery.mousewheel-min.js'}" type="text/javascript" charset="UTF-8"></script>
  <script src="@{'/public/javascripts/jquery.terminal-0.4.22.js'}" type="text/javascript" charset="UTF-8"></script>
  <script src="@{'/public/javascripts/browserconsole.js'}" type="text/javascript" charset="UTF-8"></script>
  <script src="@{'/public/javascripts/qrcode.min.js'}" type="text/javascript" charset="UTF-8"></script>
  <style>
    #terminal {
      height: 0px !important;
      padding: 0px !important;
    }
    .terminal .terminal-output div div, .cmd, .cmd .prompt {
		line-height: 32pt !important;
		font-size: 32pt !important;
   	}
  </style>
</head>
<body>
<div id="container">
  <div id="terminal"></div>
</div>
<script>
  $(function() {
    bconsole.init("body", "");
  });
</script>
</body>
</html>
